@use "/src/scss/colors";

.mainBlock {
  display: flex;
}

.redactorBlock {
  flex: 1;
  overflow: auto;

  &.hidden {
    display: none;
  }

  // display: flex;
  // flex-direction: column;
  // align-items: center;

  .pageBlock {
    // width: 800px;
    margin: 0 auto;

    // height: calc(100vh - 48px - 48px - 56px);
    overflow: auto;

    .templateName {
      padding: 0 20px;
    }

    .pageSize {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #5b6871;
      padding: 10px 20px;
    }
  }
}

.page {
  background-color: #fff;
  width: 100%;
  padding: 10px;
  border: 1px solid #e5e9eb;
  padding-left: 55px;
}

.docListBlock {
  width: 280px;
  background-color: #fff;
  height: calc(100vh - 48px - 50px);
  overflow: scroll;
  border-right: 1px solid #e5e9eb;

  &::-webkit-scrollbar {
    display: none;
  }

  .doclistHeader {
    padding: 10px 20px;
    border-bottom: 1px solid #e5e9eb;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .doclistHeaderTitle {
      font-size: 18px;
      font-weight: 600;
      color: #252c32;
    }
  }

  .docList {
    cursor: pointer;
    padding: 2px 8px 0 0;
    .row {
      padding: 10px 20px;
      border-bottom: 1px solid #e5e9eb;

      &:hover {
        background-color: #eef0f26c;
      }

      &.active {
        background-color: colors.$primary;
        color: #fff;
      }
    }

    .pageSizeRow {
      display: flex;
      align-items: center;
      padding: 10px 30px;
      gap: 35px;

      &:hover {
        background-color: #eef0f26c;
      }

      &.pageSizeRowActive {
        background-color: colors.$primary;
        color: #fff;

        .pageSizeValue {
          color: #fff;
        }
      }

      .pageSizeValue {
        color: #6e7c87;
      }

      .documentIcon {
        background: #eef0f2;
        border-radius: 4px;
        padding: 6px;
        font-weight: 500;
        font-size: 8px;
        line-height: 10px;
      }
    }
  }
}

.docSettingsBlock {
  width: 280px;
  background-color: #fff;
  height: calc(100vh - 48px - 50px);
  border-left: 1px solid #e5e9eb;
}

.saveButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 0;
  transition-duration: 0.3s;
  width: 80px;
  background-color: colors.$primary;
  gap: 5px;

  &:hover {
    background-color: colors.$primary-hover;
  }
}
.search_section {
  margin-left: 5px;
  margin-bottom: 10px;
}

.card {
  min-width: 400px;
  padding: 32px;
  border: none;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .cardTitle {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
    }

    .closeButton {
    }

    .closeIcon {
      font-size: 28px;
    }
  }

  .body {
    overflow: auto;
    margin-bottom: 16px;
    // font-weight: bold;
  }

  .footer {
    display: flex;
    align-items: center;
    gap: 24px;

    .button {
      flex: 1;
    }
  }
}

.static {
  margin: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    h3 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 700;
      transition: all 0.1s ease-in-out;
      &:hover {
        color: #007aff;
      }
    }

    .firstChild {
      padding-left: 10px;

      &__content {
        padding: 10px 0 0 10px;

        h4 {
          font-size: 14px;
          font-weight: 600;
          display: flex;
          gap: 4px;
          align-items: center;
          transition: all 0.1s ease-in-out;
          &:hover {
            color: #007aff;
          }

          span {
            font-weight: 700;
            font-size: 16px;
          }
          p {
            color: red;
          }
        }
      }
    }
    .secondChild {
      padding: 2px;
      padding-left: 10px;
      p {
        font-size: 12px;
      }
    }
  }
}
